In [1]:
# Kenneth Lin
# BigData (17.2)
# Program that retrieves data from Sqlite3

In [2]:
import sqlite3

In [3]:
connection = sqlite3.connect(r"C:\Users\kenne\OneDrive\Desktop\ch17\books.db")

In [8]:
cur = connection.cursor()

In [9]:
cur.execute('SELECT * FROM titles')

In [10]:
rows = cur.fetchall()

In [13]:
for row in rows:
    print(row)

('0135404673', 'Intro to Python for CS and DS', 1, '2020')
('0132151006', 'Internet & WWW How to Program', 5, '2012')
('0134743350', 'Java How to Program', 11, '2018')
('0133976890', 'C How to Program', 8, '2016')
('0133406954', 'Visual Basic 2012 How to Program', 6, '2014')
('0134601548', 'Visual C# How to Program', 6, '2017')
('0136151574', 'Visual C++ How to Program', 2, '2008')
('0134448235', 'C++ How to Program', 10, '2017')
('0134444302', 'Android How to Program', 3, '2017')
('0134289366', 'Android 6 for Programmers', 3, '2016')

In [14]:
cursor = connection.execute('SELECT * FROM titles')

In [15]:
columnNames = cursor.description

In [17]:
for name in columnNames:
    print(name[0])

isbn
title
edition
copyright